.service-point {
	margin: 0 20px;
	text-align: center;
	&:hover {
		.icon-container {
			img {
				&:nth-child(1) {
					opacity: 0;
				}
				&:nth-child(2) {
					opacity: 1;
				}
			}
		}
	}
	.icon-container {
		position: relative;
		height: 95px;
		display: flex;
		justify-content: center;
		img {
			position: absolute;
			max-height: 75px;
			margin-bottom: 20px;
			transition: 0.25s;
			&:nth-child(2) {
				opacity: 0;
			}
		}
	}

	& h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	& p {
		font-size: 16px;
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}
