.image-container {
	width: 17.5vw;
	height: 17.5vw;
	position: relative;
	.tape {
		position: absolute;
		top: -15%;
		left: 45%;
		width: 10%;
		height: 25%;
		background-color: #eee;
		opacity: 0.75;
	}
	.image {
		width: 100%;
		height: 100%;
		background-color: whitesmoke;
		justify-self: center;
		margin-bottom: 50px;
		box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
		transform-origin: center top;
		display: flex;
		justify-content: center;
		align-items: center;
		& > img {
			width: 90%;
			height: 90%;
			object-fit: cover;
		}
	}
}
