@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
	margin: 0;
	// font-family: "Helvetica Neue", "Helvetica", sans-serif;
	// font-family: "Open Sans", sans-serif;
	font-family: "Montserrat", sans-serif;
	background-color: #fcf8f6;
}

.section {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	&.hero {
		height: 125vh;
		.logo-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			flex-shrink: 0;
			.logo {
				font-size: 100px;
				font-weight: bold;
				text-align: center;
				& > img {
					width: 100%;
					max-width: 75%;
				}
			}
		}

		.images-container {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
			justify-content: space-around;
			width: 90%;
			height: 650px;
			position: relative;
			z-index: 1;
			.image-container {
				width: 17.5vw;
				height: 17.5vw;
				&:nth-child(1) {
					position: absolute;
					top: 15%;
					left: 2.5%;
				}
				&:nth-child(2) {
					position: absolute;
					top: 5%;
					left: 30%;
				}
				&:nth-child(3) {
					position: absolute;
					top: 7.5%;
					left: 51%;
				}
				&:nth-child(4) {
					position: absolute;
					top: 12.5%;
					left: 72.5%;
				}
				&:nth-child(5) {
					position: absolute;
					top: 49%;
					left: 15%;
				}
				&:nth-child(6) {
					position: absolute;
					top: 40%;
					left: 40%;
				}
				&:nth-child(7) {
					position: absolute;
					top: 45%;
					left: 68.5%;
				}
				&:nth-child(1) > .image {
					transform: rotate(-15deg);
					z-index: 1;
				}
				&:nth-child(2) > .image {
					transform: rotate(15deg);
					z-index: 3;
				}
				&:nth-child(3) > .image {
					transform: rotate(-7.5deg);
				}
				&:nth-child(4) > .image {
					transform: rotate(-15deg);
				}
				&:nth-child(5) > .image {
					transform: rotate(-5deg);
					z-index: 2;
				}
				&:nth-child(6) > .image {
					transform: rotate(-15deg);
					z-index: 4;
				}
				&:nth-child(7) > .image {
					transform: rotate(10deg);
				}

				.tape {
					position: absolute;
					top: -15%;
					left: 45%;
					width: 10%;
					height: 25%;
					background-color: #eee;
					opacity: 0.75;
				}
				.image {
					width: 100%;
					height: 100%;
					background-color: whitesmoke;
					justify-self: center;
					margin-bottom: 50px;
					box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
					transform-origin: center top;
					display: flex;
					justify-content: center;
					align-items: center;
					& > img {
						width: 90%;
						height: 90%;
						object-fit: cover;
					}
				}
			}
		}
		.paws {
			position: absolute;
			bottom: 0;
			width: 50px;
			height: 50px;
			// background-color: #619d8c;
			&:nth-child(3) {
				left: 3.75%;
			}
			&:nth-child(4) {
				left: 7.5%;
			}
			&:nth-child(5) {
				left: 11.25%;
			}
			&:nth-child(6) {
				left: 15%;
			}
			&:nth-child(7) {
				left: 18.75%;
			}
			&:nth-child(8) {
				left: 22.5%;
			}
			&:nth-child(9) {
				left: 26.25%;
			}
			&:nth-child(10) {
				left: 30%;
			}
			&:nth-child(11) {
				right: 3.75%;
			}
			&:nth-child(12) {
				right: 7.5%;
			}
			&:nth-child(13) {
				right: 11.25%;
			}
			&:nth-child(14) {
				right: 15%;
			}
			&:nth-child(15) {
				right: 18.75%;
			}
			&:nth-child(16) {
				right: 22.5%;
			}
			&:nth-child(17) {
				right: 26.25%;
			}
			&:nth-child(18) {
				right: 30%;
			}
		}
	}
	&.services {
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;

		.waves {
			width: 100%;
			display: flex;
		}
		.services-content {
			background-color: #619d8c;
			width: 100%;
			height: 100%;
			margin-top: -2px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.about-container {
				width: 80%;
				.about {
					font-size: 16px;
					font-weight: 500;
					text-align: justify;
					margin-bottom: 100px;
				}
			}
			.services-container {
				width: 80%;
				display: flex;
				font-size: 24px;
				font-weight: 600;
				align-items: center;
				.services {
					width: 50%;
					display: flex;
					justify-content: center;
					ul {
						margin: 0;
						.service-item {
							margin-bottom: 10px;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
				.contact {
					width: 50%;
					.social {
						display: flex;
						margin-bottom: 20px;
						align-items: center;
						& > a {
							color: inherit;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
							&:focus {
								outline: 2px solid white;
							}
						}
						.icon {
							width: 30px;
							height: 30px;
							margin-right: 20px;
							flex-shrink: 0;
							& > img {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
	&.footer {
		color: #fff;
		background-color: #619d8c;
	}
}
